<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/static/CSS/header.css">
    <link rel="stylesheet" href="/static/CSS/footer.css">
    <link rel="stylesheet" href="/static/CSS/reset.css">
</head>
<body>

    <header>
        <h1 id="title">Drink Pickers</h1>
        <nav>
            <ul>
                <li>
                    <a href="{% url 'cafe:main' %}">메뉴</a>
                </li>
                <li>
                    <a href="#about">데이터 시각화</a>
                </li>
                <li>
                    <a href="{% url 'users:feedback' %}">건의사항</a>
                </li>
                <li>
                    <a href="#skills">제작과정</a>
                </li>
            </ul>
        </nav>
        <div class="login-sign">
            <a href="{% url 'users:logout' %}"><p>Logout</p></a>
        </div>
    </header>

    <h1>건의사항</h1>
    <div class="feddback">
        {% for feedback in feedbacks %}
            <h3>{{ feedback.title }}</h1>
            <p>{{ feedback.contents }}</p>
            {% if user == feedback.user_id %}
            <form method="POST" action="{% url 'users:feedback_delete' feedback_id=feedback.id %}">
                {% csrf_token %}
                <button type="submit">삭제</button>
            </form>
            <form action="{% url 'users:feedback_edit' feedback_id=feedback.id %}">
                <button type="submit">수정</button>
            </form>
            {% endif %}
        {% endfor%}
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">게시</button>
        </form>
    </div>

    <footer>
        <div class="reference">
            <!-- <img src="./images/Disney_Plus_logo.svg.png" alt=""> -->
            <ul>
                <i class='bx bx-globe'></i>
                <li>
                    <select name="" id="">
                        <option value="">
                            한국어 
                        </option>
                        <option value="">English</option>
                    </select>
                </li>
                <li><a href="#">디즈니+이용약관</a></li>
                <li><a href="#">개인정보 처리 방침</a></li>
                <li><a href="#">개인정보 처리방침 부속서</a></li>
                <li><a href="#">관심 기반 광고</a></li>
                <li><a href="#">고객센터</a></li>
                <li><a href="#">다양한 시청 방법</a></li>
                <li><a href="#">디즈니+ 소개</a></li>
                <li><a href="#">통신판매업 사업자정보확인</a></li>
            </ul>
            <p>
                <address>
                    월트디즈니컴퍼니코리아 유한책임회사 | 대표자: 김소연 | 서울특별시 강남구 테헤란로 152, 7층 (우편번호: 06236) | Email: help@disneyplus.kr | 연락처: 080 822 1416 | 사업자등록번호: 220-81-03347 | 통신판매업 신고번호: 제2021-서울강남-05456호 |<br>
                    비디오물배급업 신고번호: 제2016-16호 | 호스팅서비스 사업자: NSOne
                </address>
            </p>
            <p>
                디즈니+의 콘텐츠는 서비스 여부에 따라 달라질 수 있습니다.<br>
                © 2023 Disney and its related entities. All Rights Reserved.
            </p>
        </div>
    </footer>
</body>
</html>