.detail {
    display: flex;
    margin: 200px auto;
    width: 60%;
    border: 5px solid silver;
}

.coffee_info {
    padding: 50px 0;
}

.coffee_info > h1 {
    border-bottom: 5px solid black;
    width: 450px;
    font-size: 38px;
}

.coffee_info > h2 {
    line-height: 40px;
    font-size: 28px;
}

.table {
    display: flex;
    margin-top: 30px;
    width: 100%;
}

.kcal {
    width: 50%;
    padding: 0 5px;
}

.kcal2 {
    border-left: 2px solid silver;
}

.kcal > div {
    display: flex;
    justify-content: space-between;
}

.kcal > div > p {
    line-height: 50px;
    font-size: 20px;
    font-weight: 500;
}

.kcal > .line {
    border-bottom: 2px solid silver;
}

.contents {
    margin: auto;
    display: flex;
    flex-direction: column;
    margin: auto;
    background-color: rgb(255, 241, 215);
    width: 60%;
    padding: 30px;
}

.contents > .content {
    padding: 10px 20px;
}

.contents > .content > h3 {
    background-color: rgb(255, 252, 237);
    padding: 20px 10px 50px 20px;
}

.content small {
    float: right;
}

textarea {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 95%;
    background-color: white;
}

.content_button {
    padding: 5px 20px;
    font-size: 12px;
    font-weight: 900;
    float: right;
    margin: 10px 30px 0 0;
}



