/* ============================footer=========================== */

footer{
    background-color: wheat;
}

.question{
    width: 90%;
    padding: 100px 0 0;
    margin: auto;
}

.question > h1{
    text-align: center;
    font-size: 40px;
    letter-spacing: -2px;
}

.question > .question_container{
    width: 100%;
    height: 75px;
    margin: 20px auto 0;
    background-color: rgb(245, 240, 232);
    overflow: hidden;
    transition: 0.5s;
}

.question > .question_container.active{
    height: auto;
}

.question > .question_container >.content > ul > li{
    list-style-type: disc;
    margin-left: 40px;
    line-height: 40px;
}

.question > .question_container >.content > ul > p{
    line-height: 40px;
}

.question > .question_container > .title{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    cursor: pointer;
}

.question > .question_container > .title > h2{
    font-size: 20px;
    line-height: 35px;
    font-weight: bold;
}

.question > .question_container > .title > span{
    font-size: 50px;
    line-height: 25px;
    text-align: center;
}

.question > .question_container > .content{
    font-size: 16px;
    font-weight: 500;
    color: black;
    padding: 5px 20px 20px 20px;
}

.question strong{
    color: white;
}

.reference{
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 100px auto 0;
    align-items: center;
    color: black;
    font-weight: 500;
    padding-top: 40px;
}

.reference > img{
    width: 100px;
}

.reference > ul{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}

.reference > ul > li:hover{
    color: rgb(163, 163, 163);
}

.bx-globe{
    font-size: 16px;
    transform: translateX(40px);
}

.reference select{
    background-color: #040714;
    color: white;
    border: none;
    padding-left: 25px;
}

.reference select > option{
    background-color: white;
    color: black;
}

address{
    margin-top: 20px;
    font-style: normal;
    text-align: center;
}

.reference > p:last-of-type{
    margin: 15px 0 100px 0;
}